# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Entornos virtuales
.venv/
venv/
env/

# Archivos de configuración sensibles
.env
secrets/
*.json

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Docker
*.pid
